<div id="auth-tabs-container">
  <mat-card>
    <mat-tab-group mat-stretch-tabs [selectedIndex]="selectedTab" (selectedIndexChange)="onTabChanged($event)">
      <mat-tab label="Sign Up">
        <app-auth-sign-up (showSignIn)="selectedTab = 1"></app-auth-sign-up>
      </mat-tab>
      <mat-tab label="Sign In">
        <app-auth-sign-in></app-auth-sign-in>
        No account? <a (click)="selectedTab = 0">Sign up</a>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
  <p>Selected tab: {{selectedTab}}</p>
</div>

