<!-- TODO: display "Already have an account link?" in this component at the bottom of the tab panes -->
<div id="tabs-container">
  <mat-card>
    <mat-tab-group mat-stretch-tabs [selectedIndex]="selectedTab" (selectedIndexChange)="onTabChanged($event)">
      <mat-tab label="Sign up">
        <app-sign-up (showSignIn)="selectedTab = 1"></app-sign-up>
      </mat-tab>
      <mat-tab label="Sign in">
        <app-sign-in (showSignUp)="selectedTab = 0"></app-sign-in>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>
