<h1 mat-dialog-title>Password Reset</h1>

<mat-dialog-content>

  <div *ngIf="currentStep === 1">
    <h2>Step 1: enter your email address</h2>
    <p>You will receive a verification code to this address.</p>

    <form [formGroup]="step1Form" (ngSubmit)="onStep1Submit()">

      <mat-form-field>
        <input #emailElt matInput placeholder="Email" formControlName="email" required autocomplete="username">
        <mat-error *ngIf="email.hasError('required')">Email is required</mat-error>
        <mat-error *ngIf="email.hasError('email')">Please enter a valid email address</mat-error>
        <mat-error *ngIf="email.invalid && !email.hasError('required') && !email.hasError('email')">No account with this email address exists</mat-error>
      </mat-form-field>

      <div class="button-container">
        <button mat-raised-button color="primary" type="submit" [disabled]="step1Form.invalid">Submit</button>
      </div>

    </form>
  </div>

  <div *ngIf="currentStep === 2">
    <h2>Step 2: choose a new password</h2>
    <p>Enter the verification code that you just received to your email address, and choose a new password.</p>

    <form [formGroup]="step2Form" (ngSubmit)="onStep2Submit()">

      <mat-form-field>
        <input #codeElt matInput placeholder="Verification code" formControlName="code" required autocomplete="off">
        <mat-error *ngIf="code.hasError('required')">Please enter your verification code</mat-error>
        <mat-error *ngIf="code.invalid && !code.hasError('required')">Invalid verification code, please try again</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput type="password" placeholder="New password" formControlName="password" (input)="onPasswordInput()"
               required minlength="{{minPw}}" autocomplete="new-password">
        <mat-error *ngIf="password.hasError('required')">Password is required</mat-error>
        <mat-error *ngIf="password.hasError('minlength')">Password must have at least {{minPw}} characters</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput type="password" placeholder="Confirm new password" formControlName="passwordConfirm" (input)="onPasswordInput()"
               required autocomplete="new-password">
        <mat-error *ngIf="passwordConfirm.hasError('required')">Please confirm your new password</mat-error>
        <mat-error *ngIf="passwordConfirm.invalid && !passwordConfirm.hasError('required')">Passwords don't match</mat-error>
      </mat-form-field>

      <div class="button-container">
        <button mat-raised-button color="primary" type="submit" [disabled]="step2Form.invalid">Save new password</button>
      </div>

    </form>

  </div>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
