<!-- Sign-up form -->
<form *ngIf="!signUpDataSent" [formGroup]="signUpForm" (ngSubmit)="onSignUpSubmit()">

  <mat-form-field>
    <input #emailElt matInput placeholder="Email" formControlName="email" required autocomplete="username">
    <mat-error *ngIf="email.hasError('required')">Email is required</mat-error>
    <mat-error *ngIf="email.hasError('email')">Please enter a valid email address</mat-error>
    <mat-error *ngIf="email.invalid && !email.hasError('required') && !email.hasError('email')">An account with this email address already exists</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput type="password" placeholder="Password" formControlName="password" (input)="onPasswordInput()"
           required minlength="{{minPw}}" autocomplete="new-password">
    <mat-error *ngIf="password.hasError('required')">Password is required</mat-error>
    <mat-error *ngIf="password.hasError('minlength')">Password must have at least {{minPw}} characters</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput type="password" placeholder="Confirm password" formControlName="passwordConfirm" (input)="onPasswordInput()"
           required autocomplete="new-password">
    <mat-error *ngIf="passwordConfirm.hasError('required')">Please confirm your password</mat-error>
    <mat-error *ngIf="passwordConfirm.invalid && !passwordConfirm.hasError('required')">Passwords don't match</mat-error>
  </mat-form-field>

  <div class="button-container">
    <button mat-raised-button color="primary" type="submit" [disabled]="signUpForm.invalid">Sign Up</button>
  </div>

  <p>Form value:<br>{{printFormValue()}}</p>
  <p>Form status: {{signUpForm.status}}</p>

</form>


<!-- Email verification form -->
<div *ngIf="signUpDataSent">
  <p id="description">A verification code has been sent to <b>{{email.value}}</b>. Didn't receive a code? <a (click)="resendCode()">Resend</a>.</p>
  <form  [formGroup]="verificationForm" (ngSubmit)="onVerificationSubmit()">

    <mat-form-field>
      <input #codeElt matInput placeholder="Verification code" formControlName="code" required autocomplete="off">
      <mat-error *ngIf="code.hasError('required')">Please enter your verification code</mat-error>
      <mat-error *ngIf="code.invalid && !code.hasError('required')">Invalid verification code, please try again</mat-error>
    </mat-form-field>

    <div class="button-container">
      <button mat-raised-button color="primary" type="submit" [disabled]="verificationForm.invalid">Submit</button>
    </div>

  </form>
</div>
