form {
  width: 20em;
  margin: 2em auto;
}

mat-form-field {
  display: block;
  margin-top: 0.5em;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 1em;
}

#description {
  margin-top: 2em;
}
