<app-fullscreen-spinner *ngIf="loading"></app-fullscreen-spinner>

<app-toolbar></app-toolbar>

<div id="container">

  <div id="nav-button-container">
    <button mat-raised-button color="primary" (click)="navigateToDashboard()">Back to Dashboard</button>
  </div>

  <h4 class="section-header">Account information</h4>
  <mat-card>
    <app-account-info></app-account-info>
  </mat-card>

  <h4 class="section-header">Change password</h4>
  <mat-card>
    <app-change-password></app-change-password>
  </mat-card>

  <h4 class="section-header">Delete account</h4>
  <mat-card>
    <app-delete-account></app-delete-account>
  </mat-card>

</div>
