<app-fullscreen-spinner *ngIf="loading"></app-fullscreen-spinner>

<form [formGroup]="form" (ngSubmit)="onSubmit()">

  <mat-form-field>
    <input #oldPasswordElt matInput type="password" placeholder="Current password" formControlName="oldPassword"
           required autocomplete="current-password">
    <mat-error *ngIf="oldPassword.hasError('required')">Please enter your current password</mat-error>
    <mat-error *ngIf="oldPassword.invalid && !oldPassword.hasError('required')">Current password incorrect</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput type="password" placeholder="New password" formControlName="password" (input)="onNewPasswordInput()"
           required minlength="{{minPw}}" autocomplete="new-password">
    <mat-error *ngIf="newPassword.hasError('required')">New password is required</mat-error>
    <mat-error *ngIf="newPassword.hasError('minlength')">Password must have at least {{minPw}} characters</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput type="password" placeholder="Confirm new password" formControlName="passwordConfirm" (input)="onNewPasswordInput()"
           required autocomplete="new-password">
    <mat-error *ngIf="newPasswordConfirm.hasError('required')">Please confirm your new password</mat-error>
    <mat-error *ngIf="newPasswordConfirm.invalid && !newPasswordConfirm.hasError('required')">Passwords don't match</mat-error>
  </mat-form-field>

  <div class="button-container">
    <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid || loading">Change password</button>
  </div>

</form>
